<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="./publick/css/style.css">
	<script src="./publick/js/angular.js" ></script>
	<script src="./publick/js/controllers/index-controller.js" ></script>
</head>
<body>
	<div ng-app="nodeTest">
		<div ng-controller="indexController" ng-cloak>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Введите текст для отправки</p>
						<textarea ng-model="textTofile" ng-change="changeTextTofile()" name="textTofile" class="textTofile" id="textTofile" cols="30" rows="10"></textarea>
						<button ng-click="uppdateFile()" class="btn btn-success btn-lg" >Отправить</button>
					</div>
					<div class="col-md-4">
						<p>Создать новый файл</p>
						<input type="text" ng-model="newFileName" ng-change="chengeNewFileName()">
						<button ng-click="createNewFile()" ng-disabled="disabledCreateNewFile">Создать</button>
						<br>
						<p>
							{{fileContent}}
						</p>
					</div>
					<div class="col-md-4">
						<p class="currentStatus">{{status}}</p>
						<ul class="listAllFiles" >
							<li ng-repeat="file in files" > <span ng-class="file.selected ? 'active':'' " ng-click="chooseFile(file)" class="file-name">{{file.name}}</span>  <span ng-click="removeFile($index)" class="removefile" >X</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>